{
  "parser": "vue-eslint-parser",
  "extends": ["eslint-config-airbnb", "eslint-config-prettier"],
  "plugins": ["eslint-plugin-prettier", "eslint-plugin-react"],
  // 指定环境的全局变量，下面的配置指定为浏览器环境
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "amd": true
  },
  // 参考链接 https://eslint.org/docs/rules/
  "rules": {
    "no-console": "off", // 允许 log
    "no-param-reassign": ["error", { "props": false }], // 允许在函数内修改函数参数
    "no-unused-vars": ["error", { "args": "none" }], // 允许函数参数声明但是未使用
    "no-unused-expressions": "off",
    "no-useless-return": "off",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "eqeqeq": 0, // 必须使用严格相等符号 ===
    // 函数定义时括号前是否需要空格：匿名函数有，非匿名函数没有
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never" }
    ],
    "array-bracket-spacing": ["error", "never"], // 数组中括号与元素之间不要有空格
    "object-curly-spacing": ["error", "always"], // 对象大括号与键值对之间必须要有空格
    "func-names": ["error", "never"], // 允许匿名函数
    "prettier/prettier": [
      "error",
      // 参考链接 https://prettier.io/docs/en/options.html
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": false
      }
    ]
  }
}
