@import "./_var.scss";

.demo-carousel {
  display: inline-block;
  vertical-align: top;
}

.image {
  @extend .flex-center;
  width: 300px;
  height: 150px;
  background-color: skyblue;
  color: #fff;
}
