$blue: #1890ff;
$borderColor: #999;
$borderColorHover: #666;
$borderColorLight: #ddd;
$borderRadius: 4px;
$boxShadowColor: rgba(0, 0, 0, 0.5);
$buttonActiveBgColor: #eee;
$buttonBgColor: white;
$duration: 0.4s;
$fontSize: 14px;
$grey: #eee;
$greyHover: #ddd;
$height: 32px;
$inputWidth: 400px;
$red: #f1453d;
$slideableLineWidth: 2px; // 线的粗细，不是长短
$toastBg: rgba(0, 0, 0, 0.75);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selectedItemBlueBorderBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $blue;
}
