$blue: #1890ff;
$borderColor: #999;
$borderColorHover: #666;
$borderColorLight: #ddd;
$borderRadius: 4px;
$boxShadowColor: rgba(0, 0, 0, 0.5);
$buttonActiveBgColor: #eee;
$buttonBgColor: white;
$disabledGrey: #ddd;
$duration: 0.4s;
$fontSize: 16px;
$grey: #eee;
$greyHover: #ddd;
$height: 32px;
$inputWidth: 400px;
$lineHeight: 1.4;
$red: #f1453d;
$slideableLineWidth: 2px; // 线的粗细，不是长短
$toastBg: rgba(0, 0, 0, 0.75);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $fontSize;
  line-height: $lineHeight;
}

a {
  color: inherit;
  text-decoration: none;
}

.inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedItemBlueBorderBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $blue;
}

.f-button-group-common {
  display: inline-flex;
  vertical-align: middle;

  .f-button {
    margin-left: -1px;
    border-radius: 0;

    &.disabled {
      border-color: $borderColor;
      &:hover {
        border-color: $borderColor;
        z-index: 0;
      }
    }

    // 解决 hover 时 margin-left: -1px; 的 bug
    &:hover {
      position: relative;
      z-index: 1;
    }

    &:first-child {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }
    &:last-child {
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}
