$blue: blue;
$borderColor: #999;
$borderColorHover: #666;
$borderColorLight: #ddd;
$borderRadius: 4px;
$boxShadow: rgba(0, 0, 0, 0.5);
$buttonActiveBgColor: #eee;
$buttonBgColor: white;
$duration: 0.4s;
$errorColor: #f1453d;
$fontSize: 14px;
$height: 32px;
$inputWidth: 400px;
$slideableLineWidth: 2px; // 线的粗细，不是长短
$toastBg: rgba(0, 0, 0, 0.75);
